<h2>Formulario de Solicitud</h2>
<form action="" [formGroup]="myForm" *ngIf="!isLoading">

	<div class="row">
		<div class="col-md-2">
			<!-- Fecha de Solicitud -->
			<div class="mb-2">
				<label for="fecha_solicitud" class="form-label">Fecha de Solicitud</label>
				<input type="date" class="form-control" formControlName="fecha_solicitud" id="fecha_solicitud" readonly
					[value]="fechaActual">
			</div>
		</div>

		<div class="col-md-3">
			<!-- Nombre del Solicitante -->
			<div class="mb-3">
				<label for="nombre_solicitante" class="form-label">Nombre del Solicitante</label>
				<input type="text" class="form-control" formControlName="nombre_solicitante" id="nombre_solicitante"
					placeholder="Ingrese su nombre">
			</div>
		</div>

		<div class="col-md-3">
			<!-- Documento de Identificación -->
			<div class="mb-3">
				<label for="documento_identificacion" class="form-label">Documento de Identificación</label>
				<input type="text" class="form-control" formControlName="documento_identificacion" id="documento_identificacion"
					placeholder="Ingrese su documento de identificación">
			</div>
		</div>

		<div class="col-md-4">
			<!-- Dirección del Solicitante -->
			<div class="mb-3">
				<label for="direccion_solicitante" class="form-label btn-link" (click)="openDireccionModal()"
					style="cursor: pointer;">
					Dirección del Solicitante
				</label>
				<input type="text" class="form-control" formControlName="direccion_solicitante" id="direccion_solicitante"
					placeholder="Ingrese su dirección" readonly>
			</div>

			<app-direccion [visible]="visible" (direccionSaved)="handleDireccionSaved($event,'direccion_solicitante')"></app-direccion>

		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<!-- Correo Electrónico -->
			<div class="mb-3">
				<label for="correo_electronico" class="form-label">Correo Electrónico</label>
				<input type="email" class="form-control" formControlName="correo_electronico" id="correo_electronico"
					placeholder="Ingrese su correo electrónico">
			</div>
		</div>
		<div class="col-md-3">
			<!-- Teléfono -->
			<div class="mb-3">
				<label for="telefono" class="form-label">Teléfono</label>
				<input type="tel" class="form-control" formControlName="telefono" id="telefono"
					placeholder="Ingrese su número de teléfono">
			</div>
		</div>
		<div class="col-md-2">
			<!-- Número de Licencia -->
			<div class="mb-3">
				<label for="numero_licencia" class="form-label">Número de Licencia</label>
				<input type="text" class="form-control" formControlName="numero_licencia" id="numero_licencia"
					placeholder="Ingrese el número de licencia">
			</div>
		</div>
		<div class="col-md-3">
			<!-- Modalidad de Licencia -->
			<div class="mb-3">
				<label for="modalidad_licencia" class="form-label">Modalidad de Licencia</label>
				<input type="text" class="form-control" formControlName="modalidad_licencia" id="modalidad_licencia"
					placeholder="Ingrese la modalidad de licencia">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<!-- Dirección del Predio -->
			<div class="mb-3">
				<label for="direccion_predio" class="form-label btn-link" (click)="openDireccionModal()"
					style="cursor: pointer;">
					Dirección del predio
				</label>
				<input type="text" class="form-control" formControlName="direccion_predio" id="direccion_predio"
					placeholder="Ingrese su dirección" readonly>
			</div>

			<app-direccion [visible]="visible" (direccionSaved)="handleDireccionSaved($event,'direccion_predio')"></app-direccion>

		</div>
		<div class="col-md-4">
			<!-- Barrio -->
			<div class="mb-3">
				<label for="barrio" class="form-label">Barrio</label>
				<select class="form-select" aria-label="barrios" name="barrio" formControlName="barrio">
					<option value="">Seleccione...</option>
					<option *ngFor="let item of barrios" [value]="item.codigo">{{item.nombre}}</option>
				</select>
				<span *ngIf="isValidField('barrio')" class="form-text text-danger">
					{{ getFieldError("barrio") }}
				</span>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Número de Folio de Matrícula Inmobiliaria -->
			<div class="mb-3">
				<label for="numero_folio_matricula_inmobiliaria" class="form-label">Número de Folio de Matrícula
					Inmobiliaria</label>
				<input type="text" class="form-control" formControlName="numero_folio_matricula_inmobiliaria"
					id="numero_folio_matricula_inmobiliaria" placeholder="Ingrese el número de folio de matrícula inmobiliaria">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<!-- Propietario del Predio -->
			<div class="mb-3">
				<label for="propietario_predio" class="form-label">Propietario del Predio</label>
				<input type="text" class="form-control" formControlName="propietario_predio" id="propietario_predio"
					placeholder="Ingrese el nombre del propietario">
			</div>
		</div>
		<div class="col-md-4">
			<!-- Nombre del Constructor -->
			<div class="mb-3">
				<label for="nombre_constructor" class="form-label">Nombre del Constructor</label>
				<input type="text" class="form-control" formControlName="nombre_constructor" id="nombre_constructor"
					placeholder="Ingrese el nombre del constructor">
			</div>
		</div>
		<div class="col-md-4">
			<!-- Fecha Aproximada de Documentación -->
			<div class="mb-3">
				<label for="fecha_aproximada_documentacion" class="form-label">Fecha Aproximada de Documentación</label>
				<input type="date" class="form-control" formControlName="fecha_aproximada_documentacion"
					id="fecha_aproximada_documentacion">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<!-- Documentos Requeridos -->
			<div class="mb-3">
				<label for="documentos_requeridos" class="form-label">Documentos Requeridos</label>
				<textarea class="form-control" formControlName="documentos_requeridos" id="documentos_requeridos" rows="3"
					placeholder="Ingrese los documentos requeridos"></textarea>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Motivo de Destinación -->
			<div class="mb-3">
				<label for="motivo_destinacion" class="form-label">Motivo de Destinación</label>
				<textarea class="form-control" formControlName="motivo_destinacion" id="motivo_destinacion" rows="3"
					placeholder="Ingrese el motivo de destinación"></textarea>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Observaciones -->
			<div class="mb-3">
				<label for="observaciones" class="form-label">Observaciones</label>
				<textarea class="form-control" formControlName="observaciones" id="observaciones" rows="3"
					placeholder="Ingrese observaciones"></textarea>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<!-- Documento Certificado Libertad -->
			<div class="mb-3">
				<label for="documento_certificado_libertad" class="form-label">Documento Certificado Libertad</label>
				<input type="file" class="form-control" formControlName="documento_certificado_libertad"
					id="documento_certificado_libertad">
			</div>
		</div>
		<div class="col-md-4">
			<!-- Documento No Encontrado -->
			<div class="mb-3">
				<label for="documento_no_encontrado" class="form-label">Documento No Encontrado</label>
				<input type="file" class="form-control" formControlName="documento_no_encontrado" id="documento_no_encontrado">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<!-- Acepta Términos -->
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" formControlName="acepta_terminos" id="acepta_terminos">
				<label class="form-check-label" for="acepta_terminos">Acepta términos y condiciones</label>
			</div>
		</div>
		<div class="col-md-4">
			<!-- Autoriza Notificación -->
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" formControlName="autoriza_notificacion"
					id="autoriza_notificacion">
				<label class="form-check-label" for="autoriza_notificacion">Autoriza notificación</label>
			</div>
		</div>
	</div>
	<div class="row justify-content-around">
		<div class="col text-start">
			<button type="button" class="btn btn-secondary" (click)="back()">Atras</button>
		</div>
		<div class="col text-end">
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>
	</div>
</form>
